body {
     background:#ffffff;
}

#banner{
  width: 100%;
}

.principal {
  background-color: aliceblue;
  padding: 30px;
}

.titulo-centralizado{
    padding-left: 20px;
}

.titulo-centralizado {
    color:rgb(0, 0, 0);
    background:;
    text-align: center;

}

p {
      text-align: center;
      font-size: 20px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: rgb(31, 28, 184);
}

.itens {
     font-style: italic;
}

.beneficios{
    background-color: hsla(0, 0%, 100%, 0.906);
    padding: 20px;
}

ul {
     display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} 

.imagembeneficios {
    width: 50%;
}

